# dependencies
node_modules/

# env files
.env
.env.local

# build output
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Logs
*.log

# Prisma lock
prisma/migrations/migration_lock.toml

# Local databases or dumps


# Node
node_modules/

# dotenv environment variables files
*.env